
<div class="user-index">
  <h1>ユーザーリスト</h1>
  <div class="users">
    <% @users.each do |user| %>
      <div class="user">
        <div class="user-image">
          <% if user.image.present? %>
            <%= image_tag user.image.thumbnail.url %>
          <% else %>
            <img src="image/syumi.png" alt="初期画像">
          <% end %>
        </div>
        <div class="user-name"><%= link_to "#{user.name}", user_path(user.id) %></div>
      </div>
    <% end %>
  </div>
</div>