
<div class="user-show">
  <div class="user-information">
    <div class="name"><%= @user.name %></div>
    <div class="image">
      <% if @user.image.present? %>
        <%= image_tag @user.image.thumbnail.url %>
      <% else %>
        <img src="image/syumi.png" alt="初期画像">
      <% end %>
    </div>
    <div class="message">
      <% if @user.message %>
        <p><%= @user.message %></p>
      <% end %>
    </div>
  </div>
  <div class="declares">
    ここに宣言が入る
  </div>
</div>
