<div class="toppage">
  <div class="main-message">
    <p>なかなか行動に移せない・・・</p>
    <p>そんなあなたのための</p>
    <h1>有言実行アプリ</h1>
  
  　<div class="categories">
    <div class="category">
      <p>勉強</p>
      <img src="image/toppage/study.png">
      <ul>
        <li>受験勉強２時間！</li>
        <li>英会話レッスンに行く</li>
        <li>午後から資格取得勉強</li>
      </ul>
    </div>
    <div class="category">
      <p>プログラミング学習</p>
      <img src="image/toppage/program.png">
      <ul>
        <li>HTML/CSSを復習</li>
        <li>テキスト</li>
        <li>オリジナルサービス</li>
      </ul>
    </div>
    <div class="category">
      <p>家事</p>
      <img src="image/toppage/housework.png">
      <ul>
        <li>夜ご飯の買い物</li>
        <li>久しぶりに部屋の掃除</li>
        <li>洗濯は午前中に</li>
      </ul>
    </div>
    <div class="category">
      <p>運動</p>
      <img src="image/toppage/sports.png">
      <ul>
        <li>早朝ランニング</li>
        <li>週３ジム通い</li>
        <li>仲間とテニス</li>
      </ul>
    </div>
    <div class="category">
      <p>趣味</p>
      <img src="image/toppage/syumi.png">
      <ul>
        <li>ピアノの練習１時間</li>
        <li>読みたかった本読破</li>
        <li>山登りに行くぞ</li>
      </ul>
    </div>
  </div>
  </div>
  
  <div class="sub-message">
    <p class="text">これやります！宣言</p>
    <img src="image/toppage/yajirushi1.png" art="↓">
    <p class="text">みんなで応援</p>
  </div>
  
  <div class="bottom-message">
    <p>今日からあなたも有言実行しませんか？</p>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  </div>
</div>